@use "./abstracts/mq-settings";
@use "./abstracts/mq";
@import "./common";

:root {
  --arcadia-black: #09090a;
  --arcadia-black-50: #09090a7f;
  --arcadia-black-20: #09090a33;
  --arcadia-white: #ffffff;
  --arcadia-white-50: #ffffff7f;
  --arcadia-white-20: #ffffff33;
  --arcadia-charcoal: #484b50;
  --arcadia-dawn: #f8f4f1;
  --arcadia-forest: #4d635e;
  --arcadia-light-grey: #ebede8;
  --arcadia-marine-blue: #37394a;
  --arcadia-orange: #ffa35c;
  --arcadia-seafoam: #f9fcf0;
  --arcadia-shell: #ede0d6;
  --community-accent-dark: #09090a !important;
  --community-accent-dark-faded-30: #09090a !important;
  --community-accent-dark-faded: #09090a !important;
  --pubpub-active-discussion-highlight-color: #ede0d6;
}

@include when-any {
  @include type-body;
  overscroll-behavior: none;
  background-color: var(--arcadia-white);
  color: var(--arcadia-charcoal);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  /**
		* Common
		*/

  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }

  a {
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
  }

  strong {
    font-weight: 600;
  }

  /**
		* Main layout
		*/

  .container {
    @include mq.mq($from: xl) {
      max-width: $max-width;
    }
  }

  #root {
    &:before {
      @include pseudo-element-create;
      @include full-bleed;
      height: $header-height;
      background: var(--arcadia-seafoam);
      grid-area: pad-h-l / pad-h-l / pad-h-r / pad-h-r;
      border-bottom: 1px solid var(--arcadia-charcoal);
      position: fixed;
      top: 0;
      z-index: 3141;

      @include mq.mq($from: s) {
        height: $header-height;
      }

      @include mq.mq($until: s) {
        height: $header-height-mobile;
      }
    }
  }

  #app {
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4% 1fr auto 4%;

    @include mq.mq($from: s) {
      grid-template-rows: $header-height repeat(2, auto);
      grid-template-areas:
        "pad-h-l header-l header-r pad-h-r"
        "main main main main "
        "pad-f-l footer footer pad-f-r";
    }

    @include mq.mq($until: s) {
      grid-template-rows: ($header-height-mobile * 0.45) (
          $header-height-mobile * 0.55
        ) repeat(2, auto);
      grid-template-areas:
        "pad-h-l header-l header-l pad-h-r"
        "pad-h-l header-r header-r pad-h-r"
        "main main main main "
        "pad-f-l footer footer pad-f-r";
    }
  }

  .header-component,
  .nav-bar-component {
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 31415;

    button,
    a {
      color: var(--arcadia-charcoal);
      font-size: 12px;
      height: auto;
      line-height: 1;
      letter-spacing: 0.05em;

      &,
      span {
        text-transform: none;
      }
    }

    &,
    .main,
    .container,
    .row,
    .scrollable-nav,
    .nav-list,
    .main-content.col-12,
    .col-12,
    .social-list {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  .header-component {
    @include pp-grid-system-reset;
    grid-area: header-l;

    @include mq.mq($from: s, $until: m) {
      padding-right: 15px;
    }

    @include mq.mq($from: m) {
      padding-right: 20px;
    }

    .container,
    .row,
    .col-12.main-content {
      width: 100%;

      @include mq.mq($until: s) {
        align-items: flex-end;
      }
    }

    .main-content {
      justify-content: space-between;
    }

    .logo-wrapper {
      max-width: none;

      a {
        display: block;
        background-image: $logo-svg;
        background-size: 100% auto;
        background-repeat: no-repeat;

        @include mq.mq($from: s) {
          width: 184px;
          height: 32px;
        }

        @include mq.mq($until: s) {
          width: 125px;
          height: 22px;
        }

        img,
        span {
          display: none;
        }
      }
    }

    .global-controls-component {
      > button {
        // Create pub is only ever a button, if not present the first item is search and that is an anchor, so this doesn't match then
        &:first-child {
          display: none;
        }
      }
    }

    .avatar-component {
      background: var(
        --arcadia-marine-blue
      ) !important; // Background is added in styles by app
      color: var(--arcadia-seafoam);

      &:hover {
        background: var(--arcadia-black) !important;
      }
    }

    .bp3-button {
      min-height: 0;
      min-width: 0;

      &[aria-label*="Dashboard"] {
        display: none !important;
      }

      &[aria-label*="User"] {
        padding: 0;
        margin-left: 10px;

        @include mq.mq($until: m) {
          display: none !important;
        }
      }

      &:hover {
        background: transparent;
      }

      &:not([aria-label*="User"]):hover {
        text-decoration: underline;
      }

      > * {
        margin: 0;
      }
    }
  }

  .nav-bar-component {
    @include pp-grid-system-reset;
    grid-area: header-r;

    @include mq.mq($until: s) {
      top: ($header-height-mobile * 0.45);
    }

    ul.nav-list {
      margin-right: 10px;

      li {
        &:last-child {
          a {
            margin-right: 0;
          }
        }

        a {
          margin-right: 15px;

          .bp3-icon-share {
            display: none;
          }
        }
      }
    }

    ul.social-list {
      svg {
        fill: var(--arcadia-marine-blue);
      }
    }

    .scrollable-nav {
      overflow: visible;
    }

    .overflow-gradient {
      display: none;
    }
  }

  #main-content {
    grid-area: main;
  }

  .footer-component {
    @include pp-grid-system-reset;
    @include full-bleed-background(var(--arcadia-charcoal));
    grid-area: footer;
    padding: 40px 0 36px;
    background: transparent;
    font-size: 12px;
    font-weight: 400;

    a {
      color: var(--arcadia-white);
    }

    .left,
    .built-on {
      display: none;
    }

    .right {
      display: grid;
      grid-template-areas:
        "logo nav 	 nav 	nav 	social"
        "logo credit credit pubpub  pubpub";
      grid-template-columns: 1fr repeat(4, auto);
      grid-template-rows: repeat(2, auto);
      max-width: none;
      align-items: center;
      border: none;

      @include mq.mq($until: m) {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      @include mq.mq($from: m) {
        justify-content: space-between;
      }

      &:before,
      &:after {
        @include pseudo-element-create;
        color: var(--arcadia-white);

        @include mq.mq($from: m) {
          border-top: 1px solid var(--arcadia-white-20);
          align-self: start;
        }
      }

      &:before {
        content: "Published with";
        grid-area: pubpub;
        display: flex;
        align-items: center;
        background-image: $pubpub-svg;
        background-size: auto 17px;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        width: fit-content;
        padding: 14px 78px 0 0;
      }

      &:after {
        grid-area: credit;
        content: "Designed by And—Now. Built by TGHP";
        padding-top: 15px;

        @include mq.mq($from: m) {
          padding-right: 30px;
        }
      }

      .footer-title {
        grid-area: logo;

        a {
          display: block;
          background-image: $logo-svg-white;
          background-size: 100% auto;
          width: 147px;
          height: 26px;
          font-size: 0;
          color: transparent;
        }
      }

      .separated {
        grid-area: nav;
        display: flex;
        align-items: center;
        justify-self: end;
        padding: 0 0 15px 0;
        line-height: 1;

        li {
          &:after {
            display: none;
          }

          &:not(:last-child) {
            a {
              padding-right: 20px;
              margin-right: 10px;
            }
          }

          a {
            display: block;
          }
        }
      }

      .social-list {
        grid-area: social;
        display: flex;
        align-items: center;
        padding-bottom: 15px;

        @include mq.mq($until: m) {
          gap: 30px;
        }

        @include mq.mq($from: m) {
          margin-left: 40px;
        }

        svg {
          height: 22px;
          width: auto;
        }
      }
    }
  }

  .subscribe-bar {
    @include full-bleed-background(var(--arcadia-orange));
    @include type-heading-2;
    color: var(--arcadia-white);
    display: flex;
    justify-content: space-between;
    padding: 25px 0;

    @include mq.mq($until: l) {
      flex-direction: column;
    }

    &__title {
      @include mq.mq($until: l) {
        margin-bottom: 10px;
      }
    }

    &__buttons {
      a {
        @include button-pill-white;
      }
    }
  }

  /**
	 * Common page styles
	 */

  ul.bp3-menu {
    padding: 10px;

    a {
      @include type-body-smaller;

      &:hover {
        background: transparent;

        span,
        div {
          text-decoration: underline;
        }
      }

      &.level-1 {
        padding-left: 0;
        font-weight: 600;
      }

      &.level-2 {
        padding-left: 20px;
      }

      &.level-3 {
        padding-left: 40px;
      }
    }

    .bp3-menu-header {
      margin: 0;
      padding: 0 0 5px;
    }
  }

  .note-popover-component {
    @include type-caption;
    font-weight: 600;
    box-shadow: none;
    background: var(--arcadia-light-grey);
    border: 1px solid var(--arcadia-marine-blue);
    padding: 20px;
  }

  .pub-header-popover {
    @include type-body-smaller;
  }

  .editor {
    p,
    ul {
      @include type-body;
      margin: 0 0 1.5em;

      + blockquote {
        margin-top: -0.5em;
      }
    }

    hr,
    figure {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    h1 {
      @include type-heading-2;
      color: var(--arcadia-marine-blue);

      &:not(:first-child) {
        margin-top: 2.85em;
      }
    }

    h2 {
      @include type-heading-3;
      color: var(--arcadia-marine-blue);
    }

    h3 {
      @include type-heading-4;
      color: var(--arcadia-marine-blue);
    }

    ul,
    ol {
      li {
        font-family: inherit;
      }
    }

    ul {
      ul {
        margin-bottom: 0;
      }

      li {
        > p {
          margin: 0;
        }
      }
    }

    blockquote {
      padding: 20px;
      background: var(--arcadia-dawn);
      border: none;
      margin: 1em 0;

      p:first-child:not(:only-child) {
        @include type-heading-4;
        color: var(--arcadia-marine-blue);
        margin-bottom: 0.5em;
      }

      p:last-child {
        margin-bottom: 0;
      }

      &:last-of-type {
        background: var(--arcadia-light-grey);
      }
    }

    span.citation {
      &,
      &:hover {
        font-weight: 600;
        color: var(--arcadia-marine-blue);
      }
    }
  }

  .layout-text-component {
    iframe[src*="platform.twitter.com"] {
      margin: -8px;
    }
  }

  .pub-preview-component {
    &,
    &:not(.expanded) {
      display: grid;
      height: auto;
      min-height: 0;
      border: 1px solid var(--arcadia-charcoal);
      margin: 0;

      @include mq.mq($from: l) {
        grid-template-columns: 65fr 67fr;
        grid-template-rows: auto;
      }

      @include mq.mq($until: l) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
      }

      &.medium-preview {
        .preview-image-wrapper {
          .preview-image-component {
            aspect-ratio: 18 / 25;
          }
        }
      }

      &.small-preview,
      &.minimal-preview {
        &:after {
          display: none;
        }

        &,
        &:not(.expanded) {
          display: block;
          // grid-template-columns: 1fr;
          border: none;
          border-left: 1px solid var(--arcadia-light-grey);

          .preview-image-wrapper {
            display: none;
          }

          .content {
            padding: 3.5%;

            .title-wrapper {
              .pub-title {
                @include type-heading-2-smaller;
              }
            }

            .pub-preview-edges-component {
              &,
              a {
                color: inherit;
              }
            }
          }
        }
      }

      .preview-image-wrapper,
      .content-wrapper {
        width: auto;
        height: auto;
      }

      .preview-image-wrapper {
        @include mq.mq($from: l) {
          border-right: 1px solid var(--arcadia-charcoal);
        }

        .preview-image-component {
          width: 100%;
          height: 100%;

          @include mq.mq($from: l) {
            aspect-ratio: 65 / 34;
          }

          @include mq.mq($from: xs, $until: l) {
            aspect-ratio: 65 / 24;
          }

          @include mq.mq($until: xs) {
            aspect-ratio: 65 / 34;
          }
        }
      }

      .content-wrapper {
        padding: 0;
      }

      .content {
        display: flex;
        flex-direction: column;
        overflow: visible;
        padding: 6.5%;

        > * {
          padding-left: 0;
          padding-right: 0;
        }

        &:after {
          display: none;
        }

        .title-wrapper {
          padding: 0;

          .pub-title {
            @include type-heading-2;
            color: var(--arcadia-forest);
          }
        }

        .date-details {
          order: -1;
          margin: 0 0 15px;

          .date {
            @include type-body-tiny;
            color: var(--arcadia-marine-blue);
            letter-spacing: 0.05em;
            font-style: normal;
          }
        }

        .description {
          @include type-body-smaller;
          opacity: 1;
          line-height: 1.5;
          padding: 0;
          margin-top: 15px;
        }

        .authors {
          padding: 0;
          margin: 10px 0 0;

          .text-wrapper {
            @include type-body-smaller;
            font-style: normal;
          }
        }

        .pub-preview-edges-component {
          margin: 20px 0 0;
          font-size: 12px;

          &,
          a {
            color: var(--arcadia-forest);
          }

          .hairline {
            margin-top: 0;
            margin-bottom: 20px;
            border-color: #f5f6f4;
          }

          .heading {
            color: var(--arcadia-orange) !important;
          }

          .listing {
            strong {
              font-weight: 400;
              color: var(--arcadia-orange) !important;
            }
          }
        }

        .bp3-popover-wrapper {
          display: none;
        }
      }

      &.medium-preview {
        @include mq.mq($from: l) {
          grid-template-columns: 21fr 43fr;
          grid-template-rows: auto;
        }

        .preview-image-wrapper {
          .preview-image-component {
            aspect-ratio: 18 / 25;
          }
        }

        .content {
          .title-wrapper {
            .pub-title {
              @include type-heading-2-smaller;
            }
          }

          .description {
            display: none;
          }
        }
      }
    }
  }

  .layout-component {
    .layout-text-component,
    .layout-html-component {
      p,
      li {
        @include type-body;
      }

      a {
        button {
          @include button-pill;
        }
      }
    }
  }

  .bp3-portal,
  .user-notifications-popover {
    z-index: 314159 !important;
  }

  .bp3-button-group {
    svg {
      fill: var(--arcadia-black);
    }
  }

  .avatar-component {
    background-color: var(--arcadia-forest) !important;
  }
}
