@use './abstracts/mq-settings';
@use './abstracts/mq';
@import "./common";

@include when-project {
    .col-12 {
        margin-top: 0;
        margin-bottom: 0;
        
        @include mq.mq($from: l) {
            width: 67%;
        }
    }

    h1 {
        @include type-heading-1;
        
        @include mq.mq($from: l) {
            margin: 80px 0 30px;
        }
        
        @include mq.mq($until: l) {
            margin: 50px 0 20px;
        }
    }

    h2,
    h3 {
        color: var(--arcadia-marine-blue);
        margin: 42px 0 20px;
    }

    h2 {
        @include type-heading-2;
        
    }

    h3 {
        @include type-heading-3;
    }

    hr {
        border-top: 1px solid var(--arcadia-shell);
        border-bottom: none;
        margin-bottom: 35px;
        
        @include mq.mq($from: l) {
            margin-right: -43.4%;
        }
    }

    .layout-component {
        .layout-text-component {
            .block-content {
                margin-top: 0;
                margin-bottom: 0;
            }

            figure {
                display: grid;
                gap: 20px;
                width: auto;
                margin: 40px 0 20px 0;

                @include mq.mq($from: l) {
                    grid-template-columns: 65fr 31fr;
                    grid-template-rows: auto;
                    margin-right: -15%;
                    max-width: 115%;                    
                }

                @include mq.mq($until: l) {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, auto);
                    max-width: 100%;
                }

                figcaption {
                    text-align: left;
                    margin: 0;

                    p {
                        margin-bottom: 5px;
                    }

                    strong {
                        font-weight: 600;
                    }
                    
                    p {
                        @include type-caption;
                        margin-bottom: 20px; 
                        
                        &:first-child:not(:only-child) {
                            display: block;
                            font-weight: 400;
                            color: var(--arcadia-marine-blue);
                        }
                    }

                    br {
                        display: none;
                    }
                }
            }
        }

        .layout-html-component {
            &:last-child {
                .block-content,
                .col-12 {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .block-content {
                    width: 100%;
                }

                .col-12 {
                    width: 96%;
                }
            }
        }
    }

    /**
        * Common blocks
        */

    @include questions;
}