/**
 * Typography
 */

@mixin type-body {
    font-family: 'SuisseIntl', sans-serif;
	font-weight: 400;
	font-size: 20px;

    @include mq.mq($until: m) {
        font-size: 16px;
    }
}

@mixin type-body-smaller {
    font-family: 'SuisseIntl', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

@mixin type-body-tiny {
    font-family: 'SuisseIntl', sans-serif;
	font-weight: 400;
	font-size: 12px;
    line-height: 1.5;
}

@mixin type-caption {
    font-family: 'SuisseIntl', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

@mixin type-meta {
    font-family: 'SuisseIntl', sans-serif;
	font-weight: 600;
	font-size: 12px;
    font-style: normal;
}

@mixin type-meta-caption {
    font-family: 'SuisseIntl', sans-serif;
	font-weight: 600;
	font-size: 18px;
    font-style: normal;
}

@mixin type-button {
    @include type-meta;
    letter-spacing: .1em;
    text-decoration: none;
    white-space: nowrap;
}

@mixin type-heading-1 {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.2;

    @include mq.mq($until: m) {
        font-size: 28px;
    }
}

@mixin type-heading-1-larger {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 300;
    font-size: 64px;
    line-height: 1.2;

    @include mq.mq($until: m) {
        font-size: 48px;
    }
}

@mixin type-heading-2 {
    font-family: 'SuisseWorks';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;

    @include mq.mq($until: m) {
        font-size: 20px;
    }
}

@mixin type-heading-2-smaller {
    font-family: 'SuisseWorks';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

@mixin type-heading-2-larger {
    font-family: 'SuisseWorks';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;

    @include mq.mq($until: m) {
        font-size: 24px;
    }
}

@mixin type-heading-3 {
    font-family: 'SuisseIntl', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;

    @include mq.mq($until: m) {
        font-size: 16px;
    }
}

@mixin type-heading-4 {
    font-family: 'SuisseIntl', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;

    @include mq.mq($until: m) {
        font-size: 14px;
    }
}

@mixin type-heading-4-smaller {
    font-family: 'SuisseIntl', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}

/**
 * Buttons
 */

@mixin button-pill {
    @include type-button;
    border-radius: 27px;
    background: var(--arcadia-orange);
    color: var(--arcadia-charcoal);
    padding: 7px 20px 5px;
    box-shadow: inset 0 0 0 1px var(--arcadia-black-20);
    text-decoration: none;
    width: fit-content;
    min-width: 145px;
    text-align: center;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

@mixin button-pill-white {
    @include button-pill;
    background: var(--arcadia-white);
    color: var(--arcadia-charcoal);
    border-color: var(--arcadia-white);
}

@mixin button-line {
    @include type-button;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 8px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

/**
 * Override utils
 */

@mixin pp-grid-system-reset {
    .container {
        margin: 0;
        max-width: none;
        width: auto;
    }

    .row {
        .col-1,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6, 
        .col-7, 
        .col-8, 
        .col-9, 
        .col-10, 
        .col-11, 
        .col-12 {
            float: none;
            margin: 0;
            min-height: 0;
            width: auto;
        }
    }
}

@mixin when-home {
    // Only way to match the home page is the lack of the other selectors, which are present on all other types of pages
    html[data-reactroot] > head + body.layout-body-wrapper:not([class*="active-page-"]):not([class*="active-collection-"]) {
        @content;
    }
}

@mixin when-page ($page) {
    html[data-reactroot] > head + body.active-page-#{$page} {
        @content;
    }
}

@mixin when-project {
    // Look for a class name containing active-collection-, there is no generic collection class added, so this is the only way
    html[data-reactroot] > head + body[class*="active-collection-"] {
        @content;
    }
}

@mixin when-pub {
    // Look for a class name containing active-pub-, there is no generic pub class added, so this is the only way
    html[data-reactroot] > head + body[class*="active-pub-"] {
        @content;
    }
}

@mixin when-any {
    // Increase specificity with combination of selectors
    html[data-reactroot] > head + body[class] {
        @content;
    }
}

/**
 * Reapplyable blocks
 */

@mixin questions {
    .questions {
		@include full-bleed-background(var(--arcadia-shell));
		padding: $spacing-block-std 0;

        &__title,
        &__body {
            color: var(--arcadia-black);
        }

		&__title {
			@include type-heading-1;
            margin: 0 0 10px;
		}

		&__body {
			margin-top: 20px;
		}

		&__buttons {
			display: flex;
            flex-wrap: wrap;
            margin: 25px -15px -5px;

			.button {
				@include button-pill;
                margin: 5px 15px;
			}
		}
	}
}

/**
 * General utils
 */

@mixin pseudo-element-create {
    content: '';
    display: block;
}

@mixin full-bleed ($extra: false) {
    position: relative;
    left: 50%;
    right: 50%;

    @if $extra {
        width: 400vw;
        margin-left: -150vw;
        margin-right: -150vw;
    } @else {
        width: 100vw;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

@mixin full-bleed-background($background, $extra: false) {
    position: relative;

    &:before {
        @include pseudo-element-create;
        @include full-bleed($extra);
        background-color: $background;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}